
<h1> Create Comments Here</h1>
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
<p>
  <label>Create Comment</label>
  <input type="text" name="comment[body]">
</p>


</p>
<input type="submit" value="Create">
</form>