
<h1>Listing posts</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>Status</th>
  </tr>

  <% @post.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td><%= post.content %></td>
      <td><%= post.status %></td>

    </tr>
  <% end %>
</table>

<%= link_to "Home",root_path %>