
<h1> Create Posts Here</h1>
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
<p>
  <label>Content</label>
  <input type="text" name="post[title]">
</p>
<p>
  <label>Status</label>
  <input type="boolean" name="post[status]">
</p>
<p>

</p>
<input type="submit" value="Create">
</form>